<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <app-hero></app-hero>
  <app-home-content></app-home-content>
</ng-template>

<div class="container mt-5" *ngIf="auth.user$ | async as loggedInuser">
  <h1>{{loggedInuser.name}}</h1>
  <td><span><input type="button" value="get NAME" (click)="sendLoggedUser(loggedInuser.name)"></span></td>
  <h1>{{back}}</h1>
  <br>
  <td><span><input type="button" value="get List" (click)="getPersonsList()"></span></td>
  <tr *ngFor="let c of list">
    <td>{{c}}</td>
  </tr>

  <br>
  <td><span><input type="button" value="get FOODList" (click)="getList(loggedInuser.name)"></span></td>
  <tr *ngFor="let recipent of listFood | keyvalue">
    <td>{{recipent.key}}: <ul> <li> {{recipent.value}} </li> </ul></td>
  </tr>
</div>

<br>

<h1>Search for food</h1>
<label>Food name:</label>
<input type="text" #foodBox><br><br>
<button (click)="getValFood(foodBox)">Submit</button>

<p>Click the "Submit" button and the form-data will be sent to a page on the
  server called "action_page.php".</p>









